html, body { margin:0; height: 100%;}

body {

	height: 100%;                        /* para falta de suporte */
	height: -webkit-calc(100% - 100px);  /* para Chrome */
  	height: -moz-calc(100% - 100px);     /* para Firefox */
  	height: calc(100% - 100px);          /* para suporte nativo */
	background: #ef4323; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #ef4323 5%, #a21b1f 30%, #b91e58 55%, #f4841f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#ef4323), color-stop(30%,#a21b1f), color-stop(55%,#b91e58), color-stop(100%,#f4841f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #ef4323 5%,#a21b1f 30%,#b91e58 55%,#f4841f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #ef4323 5%,#a21b1f 30%,#b91e58 55%,#f4841f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #ef4323 5%,#a21b1f 30%,#b91e58 55%,#f4841f 100%); /* IE10+ */
	background: linear-gradient(45deg,  #ef4323 5%,#a21b1f 30%,#b91e58 55%,#f4841f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4323', endColorstr='#f4841f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container {
	width: 210px;
	margin:0 auto;
	margin-top: 100px;
}

.logo-img {
	width: 210px;
}

p {
	font-size: 1.5em;
	font-family: 'Quicksand', sans-serif;
	color: white;
	margin-left: 58px;
}
